<div class="text-center">
    <h1>Find a customer</h1>
    <p>Find a customer by name and city.</p>
    <form asp-action="GetCustomers" asp-controller="Cashier" method="GET"
          data-ajax="true"
          data-ajax-method="GET"
          data-ajax-mode="replace"
          data-ajax-update="#customer-search-result">
        <label for="name"></label>
        <input name="name" placeholder="Name" />
        <label for="name"></label>
        <input name="city" placeholder="City" />
        <input name="Page" type="hidden" value="1" />
        <button class="btn btn-dark">Find</button>
    </form>
    <div id="customer-search-result"></div>
</div>