<div class="text-center">
    <h1>Transaction</h1>
    <p>Make a new transaction</p>
    <a asp-action="Transfer" asp-controller="Cashier" method="get">
        Transfer
    </a>
    <a asp-action="Withdraw" asp-controller="Cashier" method="get">
        Withdraw
    </a>
    <a asp-action="Deposit" asp-controller="Cashier" method="get">
        Deposit
    </a>
    <a asp-action="Interest" asp-controller="Cashier" method="get">
        Interest
    </a>
</div>