@model Application.Queries.CustomerDetailModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the start page</h1>
    <p>@Model.Givenname @Model.Surname</p>
</div>
