@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

@if (signInManager.IsSignedIn(User))
{
    <ul class="nav navbar-nav flex-grow-1 align-items-center">

        @if (User.IsInRole("admin"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-action="ManageUsers" asp-controller="admin">Manage users</a>
            </li>

        }

        @if (User.IsInRole("cashier"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-action="CustomerSearch" asp-controller="Cashier">Customers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-action="Customer" asp-controller="Cashier">Customer details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-action="EditCustomer" asp-controller="cashier">New customer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-action="Transaction" asp-controller="cashier">Transaction</a>
            </li>
        }

        <li class="dropdown nav-link">
            <a href="#" class="dropdown-toggle btn btn-secondary" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@User.Identity.Name</a>
            <ul class="dropdown-menu">
                <li role="separator" class="divider"></li>
                <li class="nav-link"><a asp-controller="Account" asp-action="Logout">Logout</a></li>
            </ul>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-link"><a class="btn btn-light" asp-controller="Account" asp-action="Login">Log in</a> </li>
    </ul>
}